{% extends 'main/base.html' %}

{% block title %}Update {{ category.name }}{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Update Category</h1>
    <a href="{% url 'products:category_list_view' %}" class="btn btn-outline-secondary">Back</a>
</div>

<div class="row">
    <div class="col-6">
        <form method="post">
            {% csrf_token %}
            {{ category_form.as_p }}
            <button type="submit" class="btn btn-primary">Update Category</button>
        </form>
    </div>
</div>

{% endblock %}

